{% extends 'layout.html.twig' %}
{% block content %}
<h1>Bienvenu Admin</h1>
<h2>Page de gestion du contenu de Back In Time</h2>
{% endblock %}

{% block footer %}
<div class="fixed-bottom">
    {% include "component/_footer.html.twig" %}
</div>
{% endblock %}