{% extends 'layout.html.twig' %}
{% block content %}

<img src="\assets\images\dolorean.jpg" class="img-fluid mx-auto d-block" alt="dolorean">

<div class="container welcome p-5 my-4">
    <div class="row ">
        <h1 class="text-center">Welcome to Back in Time !</h1>
        <p class="mt-3">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
    </div>
</div>


<h1>OUR LATEST ARTICLES</h1>
<ul>
    {% for article in articles %}
        <li><a class="link-success" href="/articles/show?id={{ article.id }}">{{ article.title }}</a> written by {{ article.author }} on {{ article.date }}</li>
    {% else %}
        <li>Nothing to display</li>
    {% endfor %}
</ul>

<p>FIRST TEST PAGE <a href="/newPage">Here is a new page</a>.</p> 
<p>Liste des articles <a href="/articles/liste">Liste articles</a>.</p> 
<p>Find a complete CRUD example on <a href="/items">items</a> page.</p>
{% endblock %}