@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #E5D6CD;
    --secondary-color : #C9A48C;
}

body {
    font-family: var(--main-font);
}

/* navbar */

.navbar {
    background-color: var(--main-color);
}

#navbar-logo {
    height: 50px;
}

#navbar-text {
    height: 20px;
}

/* presentation */

.welcome{
    background-color:var(--main-color)
}

/* footer */

#footer{
    background-color:var(--main-color);
}

.logoFooter{
    width: 24px;
    height: 24px;
}

#logof{
    width: 40px; 
    height: 40px;
}

/* article pages */

#article-about-section {
    background-color: var(--main-color);
}

#article-about-section p {
    margin: 0rem;
}

.primary-link a {
    color: var(--secondary-color);
}
 
/* to stick the right section off the article page */
.position-sticky {
    top: 2rem;
}