@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #E5D6CD;
}
body {
font-family: var(--main-font);
}


.welcome{
    background-color:var(--main-color)
}

#footer{
    background-color:var(--main-color);
}

.logoFooter{
    width: 24px;
    height: 24px;
}
#logof{
    width: 40px; 
    height: 40px;
}

