{% extends 'layout.html.twig' %}


{% block content %}
    <h1>Nos articles</h1>
    <ul>
        {% for article in articles %}
            <li><a href="/articles/show?id={{ article.id }}">{{ article.title }}</a> written by {{ article.author }} on {{ article.date }}</li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}