{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <p>{{ article.content }}</p>
    <p>{{ article.category }}</p>
    <p>{{ article.writer }}</p>
{% endblock %}