<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/images/logo-without-text.png" alt="website logo" id="navbar-logo">
            <img src="/assets/images/back-in-time-text.png" alt="back in time" id="navbar-text"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end fs-5" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Jurassique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Egypte Antique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Renaissance</a>
                </li>
            </ul>
        </div>
    </div>
</nav>